* {
    padding: 0;
    margin: 0;
    /*outline: solid red;*/
}

header .navbar {
    background-color: #EE0D4B;
}

nav.navbar ul.nav li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #F3E2A9;
}

.hero-section {
    background-image: url(../img/creamy.jpg);
    width: 100%;
    padding-top: 84px;
    padding-bottom: 555px;
    height: 500px;
    margin-top: 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #F3E2A9;
    position: relative;
}

.mb-0 {
    margin-bottom: 0;
}

.fondo-oscuro {
    background-color: rgba(32, 23, 3, 072);
    width: 100%;
    height: 600px;
    padding-top: 84px;
    padding-bottom: 505px;
    margin-top: -50px;
}

#primero {
    background-color: #F3E2A9;
    width: 100%;
    padding-top: 84px;
    padding-bottom: 560px;
    height: 100px;
}

.informacion {
    padding: 0px 30px;
}

.informacion h3 {
    font-size: 3.2em;
    letter-spacing: 2px;
    color: #EE0D4B;
}

.informacion p {
    font-size: 1.0em;
    letter-spacing: 2px;
    color: #EE0D4B;
}

#segundo {
    background-color: #EE0D4B;
    width: 100%;
    padding-top: 54px;
    padding-bottom: 520px;
    height: 100px;
}

.informacion1 {
    padding: 0px 30px;
}

.informacion1 h3 {
    font-size: 3.2em;
    letter-spacing: 2px;
    color: #F3E2A9;
}

.informacion1 p {
    font-size: 1.0em;
    letter-spacing: 2px;
    color: #F3E2A9;
}

#tercero {
    background-color: #F3E2A9;
    width: 100%;
    padding-top: 54px;
    padding-bottom: 520px;
    height: 100px;
}

.informacion2 {
    padding: 0px 30px;
}

.informacion2 h3 {
    font-size: 3.2em;
    letter-spacing: 2px;
    color: #EE0D4B;
}

.informacion2 p {
    font-size: 1.0em;
    letter-spacing: 2px;
    color: #EE0D4B;
}